# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
pip-wheel-metadata/
*.egg-info/
dist/
build/
.env
.venv
venv/
tmp/
.tmpvenv/
*.log

# VS Code
.vscode/

# Docker Compose overrides
docker-compose.override.yml
*.env
ollama-gpu/

# macOS
.DS_Store

# Editors
*.swp
*~

# Node / SvelteKit
node_modules/
.svelte-kit/
build/
*.local
*.lock
!package-lock.json
